.popup {
	position: fixed;
	align-items: center;
    justify-content: center;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    cursor: pointer;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}
