.popup__body {
    display: flex;
    flex-direction: column;
    margin: 43px 0;
    position: relative;
    box-sizing: border-box;
    justify-content: space-between;

    max-height: 75vh;
    max-width: calc(100vw - 2*40px);
}

@media screen and (min-width: 480px) {
    .popup__body {
        padding: 0;
        margin: 43px;
        max-width: 75vw;
    }
}
@media screen and (min-width: 768px) {
    .popup__body {
        min-width: 431px;
    }
}
